<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bogus" version="33.1.1" targetFramework="net472" />
  <package id="ConsoleTables" version="2.4.2" targetFramework="net472" />
  <package id="Faker.Net" version="1.5.150" targetFramework="net472" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.4.1" targetFramework="net472" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net472" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net472" />
</packages>